#Folders for ignore
Gallery/bin
Gallery/obj
Gallery/logs
Gallery.Service/bin
Gallery.Service/obj
Gallery.DAL/bin
Gallery.DAL/obj
packages
.vs
*.user
/FileStorageProvider/obj
/FileStorageProvider/bin
/Tests/FileStorageProvider.NUnitTests/bin
/Tests/FileStorageProvider.NUnitTests/obj
/Tests/Gallery.DAL.NUnitTests/obj
