<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="queues:upload-image"
         value="prod-upload-image"
         xdt:Locator="Match(key)"
         xdt:Transform="Replace"/>
    <add key="queues:upload-mp4"
         value="prod-upload-mp4"
         xdt:Locator="Match(key)"
         xdt:Transform="Replace"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>